.display-books-header {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

.whole-div {
    margin-bottom: 100px;
    padding-bottom: 60px;
}

.header-text-div {
    display: flex;
    align-items: center;
}

.header-text,
.header-tag {
    margin: 0;
    padding: 0;
}

.header-tag {
    color: #a3a3a3;
    font-size: small;
}

.books-container {
    display: flex;
    padding: 0px 120px;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: sans-serif;
}

.single-book-container {
    width: 290px;
    border: none;
    margin-bottom: 50px;
}

.book-div {
    padding: 20px;
    padding-top: 0;
}

.book-image {
    text-align: center;
    background-color: #F5F5F5;
    padding: 30px 0;
}

.image {
    width: 170px;
    height: 180px;
}

.book-name {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-weight: 500;
}

.book-author {
    padding: 0;
    margin-top: 0;
    color: #888888;
}

.book-btns {
    display: flex;
    justify-content: space-between;
}

.btn-after-clicked {
    width: 100%;
}

.page-number {
    list-style: none;
    display: flex;
    justify-content: center;
}

.each-page-num {
    margin: 0 20px;
}

.out-of-stock {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    font-weight: 700;
}

.if-out-of-stock {
    background-color: #b9b9b969;
    height: 100%;
    width: 100%;
    position: absolute;
}

.sort-by-rel {
    padding: 0 10px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #a3a3a3;
}

@media only screen and (max-width: 1185px) {

    .books-container {
        padding: 0px 90px;
    }

    .single-book-container {
        width: 280px;
    }

    .book-div {
        padding: 20px;
        padding-top: 0;
    }

    .book-name,
    .book-price {
        font-size: medium;
    }

    .book-author {
        font-size: small;
    }

}

@media only screen and (max-width: 800px) {
    .books-container {
        padding: 0px 30px;
    }

    .single-book-container {
        width: 250px;
    }

    .book-div {
        padding: 13px;
        padding-top: 0;
    }

    .book-name,
    .book-price {
        font-size: small;
    }

    .book-author {
        font-size: x-small;
    }

    .image {
        width: 130px;
        height: 150px;
    }

    .book-btns {
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 500px) {

    .image {
        width: 130px;
        height: 150px;
    }

    .header-text {
        font-size: medium;
    }

    .header-tag {
        font-size: small;
    }

    .book-image {
        padding: 15px 0;
    }

    .sort-by-rel {
        outline: none;
        padding: 0 5px;
        font-size: x-small;
    }
}

@media only screen and (max-width: 350px) {

    .book-div {
        padding: 10px;
        padding-top: 0;
    }

    .book-name,
    .book-price,
    .header-text {
        font-size: small;
    }

    .book-author,
    .header-tag {
        font-size: x-small;
    }

    .image {
        width: 110px;
        height: 120px;
    }

}