.display-books-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
}

.header-text-div {
    display: flex;
    align-items: center;
}

.header-text {
    margin: 0;
    padding: 0;
}

.header-tag {
    margin: 0;
    padding: 0;
}

.books-container {
    display: flex;
    padding: 0px 120px;
    flex-flow: row wrap;
    font-family: sans-serif;
}

.single-book-container {
    width: 340px;
    border: none;
    margin: 3%;
    margin-bottom: 50px;
}

.book-div {
    padding: 30px;
}

.book-image {
    text-align: center;
    background-color: #F5F5F5;
    padding: 40px 0;
}

.image {
    width: 170px;
    height: 180px;
}

.book-name {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-weight: 500;
}

.book-author {
    padding: 0;
    margin-top: 0;
    color: #888888;
}

.book-btns {
    display: flex;
    justify-content: space-between;
}

.btn-after-clicked {
    width: 100%;
}

.page-number {
    list-style: none;
    display: flex;
    justify-content: center;
}

.each-page-num {
    margin: 0 20px;
}