.order-placed-page {
    text-align: center;
    height: 61vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-shopping-btn {
    margin: 50px 0;
}

.details-table {
    /* width: 100%; */
    margin: 45px auto;
    margin-top: 0;
    text-align: center;
    border: 1px solid #a1a1a1;
}

td {
    border-top: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    padding: 30px;

}


.address-td {
    border-right: none;
}